*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color:rgb(85, 15, 177);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(61, 85, 167);
    width: 800px;
    padding: 50px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

div{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction:row;
}

@media only screen and (max-width: 600px) {
    div {
      flex-direction: column;
    }
  }

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box p{
    color: rgb(201, 200, 200);
}
.btn{
    /* padding: 20px 30px; */
    font-size: 1rem;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(119, 75, 163);
    color: #fff;
    transition: filter .2s ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 20px;
    font-size: 5rem;
    display: inline-block;
}


.btn-master{
    padding: 10px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(85, 85, 79);
    color:white;
    border-radius: 10px;
    background-color: rebeccapurple;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

    

}

p{
    font-size: small;
    font-weight:10;
}